# Based on https://github.com/gitattributes/gitattributes

# Auto detect text files and perform LF normalization
*                             text=auto eol=lf

# The above will handle all files NOT found below

# Tool configuration
## Git
.gitattributes                text
.gitignore                    text

## Other
*.editorconfig                text

# Documents
## Plain text
.idea/.name                   text
*.md                          text

# Media
## Graphics
*.webp                        binary

# Data
*.json                        text
*.pro                         text
*.properties                  text
*.toml                        text
*.yaml                        text
*.xml                         text

# Code
gradlew                       text
gradlew.bat                   text
*.jar                         binary
*.kt                          text
*.kts                         text
